@charset "UTF-8";

body{
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(82, 78, 78);
    color: white;
}

p{
    text-align: justify;
}
