@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #B8CAD9,#8D9AA6);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b757e98;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(99, 97, 97, 0.623);
}

h2{
    color: #3E3F40;
}

p{
    text-align: justify;
}